{% extends 'main.html' %}
{% block content %}
<h1>This is HomePage.</h1>

{% for i in info %}
<div>
    <a href="{% url 'create-room' %}">Create Room</a>
    <div>
        <a href="{% url 'update-room' %}">Edit</a>
        <!-- {{i.id}} : <a href="/another/{{i.id}}/">{{i.name}}</a> -->
         <span>@{{i.host.username}}</span>
        <h5>{{i.id}} : <a href="{% url 'another' i.id %}">{{i.name}}</a></h5>
        <small>{{ i.topic.name}}</small>
        <hr>
    </div>
</div>
{% endfor %}
{% endblock content %}